.header {
    height: 5rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    background-color: #18181b;
    z-index: 100;
    position: sticky;
    top: 0;
}

.header__left{
    display: flex;
    align-items: center;
    flex: 1;
}

.header__leftLogo{
    object-fit: contain;
    height: 3rem;
    margin-left: 20px;
}

.header__left>h2{
    margin: 15px;
}

.header__veticalLine{
    border-left: 1px solid #4a4a4c;
    height: 3rem;
}

.header__left>i{
    margin: 15px;
}

.header__center {
    background-color: #4a4a4c;
    height: 3.5rem;
    display: flex;
    width: 25%;
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
}

.header__center>input {
    outline: none;
    background-color: transparent;
    flex: 1;
    margin-left: 15px;
    font-size: large;
    border: none;
}

.header__centerLogoConteiner{
    background-color: #2b2b2d;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header__rightConteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__rightConteiner>i, .header__rightConteiner>div{
    margin: 20px;
}

.header__rightBits{
    display: flex;
    align-items: center;
    background-color: #4a4a4c;
    height: 3.5rem;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.header__rightBits>i{
    margin-right: 5px;
}